<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<br><br><br>
	<div class="card w-50 rounded-0">
		<div class="card-header bg-dark rounded-0">
			<h1 class="card-title"><%=@user.first_name%> <%=@user.last_name%></h1>
			<a href="<%=edit_user_registration_path(current_user.id)%>">
				<span class="btn btn-primary" style="float:right;">
						Edit profile
				</span>
			</a>
		</div>
		<div class="card-body">
			<p>Bio : "<%=@user.description%>"</p>
			<a href="mailto:<%=current_user.email%>"><%=@user.email%></a><br><br>
			<p style="color:lightgrey;">Member of Eventbrite since <%=@user.created_at.strftime("%d of %B, %Y")%></p>

		</div>
	</div>
</body>
</html>